<div class="row">
  <div class="offset-3 col-6">
    <h1>Sign Up</h1>
    <%= form_for @user do |f| %>
      <div>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div>
        <%= f.submit 'Create user', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
