<h2>Games</h2>

<div class="row">
  <div class="col-3">
<%= link_to 'Import PGN', new_game_path, class: 'btn btn-primary' %>
</div>
<div class="col-9">
<%= form_tag games_import_path do %>
  <%= label_tag :lichess_id, 'Lichess ID (8 characters)' %>
  <%= text_field_tag :lichess_id %>
  <%= label_tag :review_color, 'Review Color' %>
  <%= select_tag :review_color, options_for_select(['white', 'black'], 'white') %>
  <%= submit_tag 'Import', class: 'btn btn-primary' %>
<% end %>
</div>
</div>

<table>
  <thead>
    <tr>
      <td>Players</td>
      <td>Result</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= "#{game.white} - #{game.black}" %></td>
        <td><%= game.length %> Moves</td>
        <td><%= game.result %></td>
        <td><%= link_to 'View', game_path(game), class: 'btn btn-primary' %></td>
        <td><%= button_to 'delete', game_path(game), method: 'delete', class: 'btn btn-danger' %></td>
      <% end %>
  </tbody>
</table>
