<h2><%= @game.white %> - <%= @game.black %> | <%= @game.result %></h2>

<%= render partial: 'navigation' %>
<span class="game__lichess-id">
  <% if @game.lichess_id %>
    <%= link_to 'View on Lichess', "https://lichess.org/#{@game.lichess_id}", class: 'btn btn-primary' %>
  <% else %>
    <%= form_for @game do |f| %>
      <%= f.label :lichess_id %>
      <%= f.text_field :lichess_id %>
      <%= f.submit %>
    <% end %>
  <% end %>
</span>

<div class="row text-center">
  <div class="col-1">
    <%= render partial: 'games/scoresheet', locals: {user: @current_user, moves: @game.moves} %>
  </div>
  <div class="col-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-6"></div>
</div>

<script type="module">
  import { Chessgame } from 'chessgame';
  const pgn = '<%= j @game.pgn %>';
  const game = new Chessgame(document.getElementById('chessboard'), pgn);

  document.querySelector('#startMove').addEventListener('click', function() {
    game.startMove();
  });

  document.querySelector('#backMove').addEventListener('click', function() {
  game.backMove();
  });

  document.querySelector('#forwardMove').addEventListener('click', function() {
    game.forwardMove();
  });

  document.querySelector('#endMove').addEventListener('click', function() {
    game.endMove();
  });
</script>
