<h2><%= @game.white %> - <%= @game.black %> | <%= @game.result %></h2>

<%= render partial: 'navigation' %>

<div class="row text-center">
  <div class="col-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-6"></div>
</div>

<script type="module">
  import { Chessgame } from 'chessgame';
  const pgn = '<%= j @game.pgn %>';
  const game = new Chessgame(document.getElementById('chessboard'), pgn);

  document.querySelector('#startMove').addEventListener('click', function() {
    game.startMove();
  });

  document.querySelector('#backMove').addEventListener('click', function() {
  game.backMove();
  });

  document.querySelector('#forwardMove').addEventListener('click', function() {
    game.forwardMove();
  });

  document.querySelector('#endMove').addEventListener('click', function() {
    game.endMove();
  });
</script>
