<h3>Game : <%= @game_analysis.game.header %></h3>

<div class="row">
  <div class="col-7">
    <div id="chessboard"></div>
  </div>
  <div class="col-5">
    <%= form_for @position_analysis, url: game_analysis_path(@game_analysis), method: :patch do |f| %>
      <div class="form-group">
      <%= f.label 'Comments' %><%= f.text_area :comments, rows: 20, class: 'form-control' %>
      </div>
      <%= f.label 'Move' %><%= f.text_field :move, class: 'form-control' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

<script type="module">
  import { Chessboard } from 'chessboard';
  const board = new Chessboard(
    document.getElementById('chessboard'),
    '<%= @game_analysis.current_fen %>',
    '<%= @game_analysis.color %>'
  );
</script>
