<%= @game_analysis.game.header %>
<%= render partial: 'games/navigation' %>
<div class="row">
  <div class="col-1">
    <%= render partial: 'games/scoresheet', locals: {user: @current_user, moves: @game_analysis.moves} %>
  </div>
  <div class="col-6">
  <div id="chessboard"></div>
  </div>
  <div class="col-5">
    <div class="row">
      <h3>Comments</h3>
      <div id="comments"></div>
    </div>
    <div class="row">
      <h3>Your Move</h3>
      <div id="move"></div>
    </div>
    <div class="row">
      <h3>Effective Move</h3>
      <div id="effective-move"></div>
    </div>
  </div>
</div>

<script type="module">
  import { Chessboard } from 'chessboard';

  var move = 0;
  const gameAnalysis = <%= raw @game_analysis.to_json %>;

  const render = function(moveNumber) {
      var positionAnalysis = gameAnalysis.position_analysis[moveNumber];
      new Chessboard(
        document.getElementById('chessboard'),
        positionAnalysis.fen,
        '<%= @game_analysis.color %>'
      );
      document.querySelector('#comments').innerHTML = positionAnalysis.comments;
      document.querySelector('#move').innerHTML = positionAnalysis.move;
      document.querySelector('#effective-move').innerHTML = positionAnalysis.effective_move;
    }
  render(move);

  document.querySelector('#startMove').addEventListener('click', function() {
    move = 0;
    render(move);
  });

  document.querySelector('#forwardMove').addEventListener('click', function() {
    move = Math.min(gameAnalysis.position_analysis.length - 1, move + 1);
    render(move);
  });

  document.querySelector('#backMove').addEventListener('click', function(){
    move = Math.max(0, move - 1);
    render(move);
  });

  document.querySelector('#endMove').addEventListener('click', function(){
    move = gameAnalysis.position_analysis.length - 1;
    render(move);
  });
  
</script>
