<!DOCTYPE html>
<html>
  <head>
    <title>Zwischenzug</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Zwischenzug</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Games', games_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Positions', positions_path, class: 'nav-link' %>
          </li>
        <% if @current_user %>
          <li class="nav-item">
            <%= @current_user.name %>
          </li>
          <li class="nav-item">
            <%= button_to 'Sign Out', session_path, method: :delete, class: 'nav-link' %>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_session_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_path %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>
    <div class="row">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
